* {
    box-sizing: border-box;
    font-family: 'Orbitron', 'Alkatra', 'Pixelify Sans', sans-serif;
}

body {
    margin: 50px;
    font-size: 1rem;
}

label {
    display: block;
    margin: 10px;
}

input[type=text], textarea, select {
    padding: 10px;
    width: 400px;
    font-size: 15px;
    border: 2px solid #CCC;
    outline: 0;
    margin-top: 5px;
}

textarea{
    height: 200px;
    resize: none;
}
.termos {
    color: black;
    text-decoration: none;
}

button {
    padding: 10px;
    background-color: #CCC;
    font-size: 15px;
    border: 1px solid #CCC;
    margin-top: 10px;
    margin-left: 125px;
}

button:hover{
    background-color: #acacac;
}