* {
    box-sizing: border-box;
    font-family: 'Orbitron', 'Alkatra', 'Pixelify Sans', sans-serif;
}

fieldset {
    background-color: #EEE;
    margin: 20px;
    border: 1px solid black;
}
input[type=submit] {
    margin-left: 20px;
    background-color: #CCC;
    font-weight: bold;
    color: black;
}

legend{
    background-color: #CCC;
    color: black;
    font-weight: bold;
    padding: 5px;
}